body {
  margin: 0;
  padding: 0;
}

.article {
  position: relative;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;


  .article__image_container {
    width: 100%;

    .article__image {
      width: 100%;
      height: 245px;
      object-fit: cover;
    }
  }

  .article__content {
    position: absolute;
    background-color: #fff;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
    z-index: 1000;
    width: 80%;
    height: 70%;
    padding: 35px 75px 50px 75px;
    border-radius: 5px;

    .article__content_title {
      max-width: 470px;
      margin: 0 auto 50px auto;
      font-weight: 400;
      font-size: 24px;
      color: #363636;
    }

    .article__content_summary {
      font-weight: 400;
      font-size: 18px;
      color: #363636;
    }
  }

  .article__btn_container {
    margin-bottom: 45px;
    margin-left: 150px;

    .article__btn {
      border: none;
      background-color: unset;
      outline: none;
      font-size: 16px;
      font-weight: 700;
      text-decoration: none;
      color: black;
      cursor: pointer;
    }
  }

}
