.searchBar {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 40px;

  .searchBar__main_text {
    font-weight: 600;
    font-size: 16px;
    letter-spacing: 0;
    margin: 0;
  }

  .searchBar__form {
    background-color: #fff;
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-radius: 5px;
    gap: 20px;

    border: 1px solid gray;
    max-width: 580px;
    width: 100%;
    height: 50px;
    padding-left: 20px;

    .searchBar__form_btn {
      border: none;
      outline: none;
      background: none;
    }

    .searchBar__input {
      border: none;
      outline: none;
      width: 80%;
      font-size: 16px;
      font-weight: 400;
      color: gray;
    }
  }
}
