.articleCard {
  width: 100%;
  max-width: 400px;
  height: 530px;

  border: 1px solid gray;
  border-radius: 5px;

  .articleCard__imgContainer {
    .articleCard__img {
      width: 100%;
      max-height: 217px;
    }
  }

  .articleCard__main_content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 24px;
    max-height: 260px;
    height: 100%;

    .articleCard__infoContainer {
      display: flex;
      flex-direction: column;
      gap: 20px;
      .articleCard__published_at_info {
        font-size: 14px;
        font-weight: 400;
        color: gray;
        margin: 0;
      }

      .articleCard__title_info {
        font-size: 24px;
        font-weight: 400;
        color: #363636;
        margin: 0;
      }

      .articleCard__summary_info {
        font-size: 16px;
        font-weight: 400;
        color: #363636;
        margin: 0;
      }
    }

    .articleCard__btnContainer {
      width: fit-content;
      .articleCard__btn {
        padding: 0;
        outline: none;
        background: unset;
        border: none;
        font-weight: 700;
        line-height: 150%;
        font-size: 16px;
        color: #363636;
        cursor: pointer;
      }
    }
  }
}
